In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
cli = pd.read_csv('data\cli_us.csv')
cpi = pd.read_csv('data\cpi.csv')
employ_rate = pd.read_csv('data\employ_rate.csv')
gfcf = pd.read_csv('data\gfcf.csv')
house_cost = pd.read_csv('data\house_cost.csv')
ltint = pd.read_csv('data\ltint_monthly.csv')
stint = pd.read_csv('data\stint_monthly.csv')
gdp = pd.read_csv('data\quart_gdp.csv')

In [4]:
cli

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,USA,CLI,AMPLITUD,LTRENDIDX,M,1998-04,100.60450,NaN
1,USA,CLI,AMPLITUD,LTRENDIDX,M,1998-05,100.41890,NaN
2,USA,CLI,AMPLITUD,LTRENDIDX,M,1998-06,100.20700,NaN
3,USA,CLI,AMPLITUD,LTRENDIDX,M,1998-07,100.00180,NaN
4,USA,CLI,AMPLITUD,LTRENDIDX,M,1998-08,99.82944,NaN
...,...,...,...,...,...,...,...,...
271,USA,CLI,AMPLITUD,LTRENDIDX,M,2020-11,98.90533,NaN
272,USA,CLI,AMPLITUD,LTRENDIDX,M,2020-12,99.23566,NaN
273,USA,CLI,AMPLITUD,LTRENDIDX,M,2021-01,99.52099,NaN
274,USA,CLI,AMPLITUD,LTRENDIDX,M,2021-02,99.83073,NaN
275,USA,CLI,AMPLITUD,LTRENDIDX,M,2021-03,100.15090,NaN

In [7]:
def columns_fix(df):
    df = df[['TIME', 'Value']]
    df = df.rename(columns={'Value': string(df)})
    return df

In [8]:
test = columns_fix(cpi)

NameError: name 'string' is not defined

In [9]:
cli = cli.rename(columns={'Value': 'cli'})

In [10]:
cli

        TIME        cli
0    1998-04  100.60450
1    1998-05  100.41890
2    1998-06  100.20700
3    1998-07  100.00180
4    1998-08   99.82944
..       ...        ...
271  2020-11   98.90533
272  2020-12   99.23566
273  2021-01   99.52099
274  2021-02   99.83073
275  2021-03  100.15090

[276 rows x 2 columns]